@{
    ViewData["Title"]="All Categories";
}
@model Category
<div class="row">
    <div class="col">
        <a href="/">Products</a>
        <form asp-action="AddCategory" method="post">
            <h1>New Category</h1>
            <div class="mb-3 form-floating">
                <input type="text" asp-for="Name" class="form-control" placeholder="Name">
                <label asp-for="Name"></label>
                <span asp-validation-for="Name"></span>
            </div>
            <button type="submit" class="btn bg-primary">Add Category</button>
        </form>
    </div>
    <div class="col">
        <p>Categories</p>
        <h1>All Categories</h1>
        @foreach (Category item in ViewBag.AllCategories){
            <p><a href="/categories/@item.CategoryId">@item.Name</a></p>
        }
    </div>
</div>