@{
    ViewData["Title"] = "Dashboard";
}
<div class="text-center">
    <div class="row align-items-center">
        <h1 class="col">Welcome @Context.Session.GetString("User")</h1>
        <a class="col-1 btn bg-danger text-white shadow " href="/logout">Logout</a>
    </div>
    -----------------------------------------------------------------------------
    <h2 class="mb-3">@Context.Session.GetInt32("Num")</h2>
    <div class="row justify-content-between mb-3">
        <a href="/math/+1" class="col btn bg-warning shadow">+ 1</a>
        <a href="/math/-1" class="col btn bg-primary text-white shadow">- 1</a>
    </div>
    <div class="row justify-content-between mb-3">
        <a href="/math/x2" class="col btn bg-danger text-white shadow">x 2</a>
        <a href="/math/rng" class="col btn bg-success shadow">+ Random</a>
    </div>
</div>