@{
    ViewData["Title"]="Result";
}
@model Survey
<div class="container mt-5 p-5 border">
    <h1 class="text-decoration-underline">Submitted Info</h1>
    <div class="form-floating mb-3">
        <p class="form-control" id="floatingPassword" placeholder="">@Model.name</p>
        <label for="floatingName">Name</label>
    </div>
    <div class="form-floating mb-3">
        <p class="form-control" id="floatingPassword" placeholder="">@Model.location</p>
        <label for="floatingSelect">Dojo Location</label>
    </div>
    <div class="form-floating mb-3">
        <p class="form-control" id="floatingPassword" placeholder="">@Model.favLang</p>
        <label for="floatingSelect">Dojo Location</label>
    </div>
    <div class="form-floating mb-3">
        <p class="form-control" id="floatingPassword" placeholder="">@Model.comment</p>
        <label for="floatingTextarea2">Comments</label>
    </div>
    <a href="/" class="btn btn-primary float-end shadow">Go Back</a>
</div>