@{
    ViewData["Title"] = "Home Page";
}
@model List<Chef>
<div class="row">
    <p class="col">Chefs</p> |
    <a class="col" href="/dishes">Dishes</a> |
    <a class="col" href="/chefs/new">Add a Chef</a> |
    <a class="col" href="/dishes/new">Add a Dish</a>
</div>

<div class="text-center">
    <h1>Check out our roster of chefs!</h1>
    <table class="table">
        <thead>
            <tr>
                <td>Name</td>
                <td>Age</td>
                <td># of Dishes</td>
            </tr>
        </thead>
        <tbody>
            @{
                foreach(Chef chef in @Model){
                    <tr>
                        <td>@chef.FirstName @chef.LastName</td>
                        <td>@((int)((DateTime.Now-chef.DoB)?.TotalDays/365.25))</td>
                        <td>@chef.Dishes.Count</td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>