@{
    ViewData["Title"]="Add New Chef";
}
@model Chef
<div class="row">
    <a class="col" href="/">Chefs</a> |
    <a class="col" href="/dishes">Dishes</a> |
    <p class="col">Add a Chef</p> |
    <a class="col" href="/dishes/new">Add a Dish</a>
</div>

<form asp-action="AddChef" method="post">
    <div class="mb-3 form-floating">
        <input type="text" asp-for="FirstName" class="form-control" placeholder="w">
        <label asp-for="FirstName"></label>
        <span asp-validation-for="FirstName"></span>
    </div>
    <div class="mb-3 form-floating">
        <input type="text" asp-for="LastName" class="form-control" placeholder="w">
        <label asp-for="LastName"></label>
        <span asp-validation-for="LastName"></span>
    </div>
    <div class="mb-3 form-floating">
        <input type="date" asp-for="DoB" class="form-control" placeholder="w">
        <label asp-for="DoB"></label>
        <span asp-validation-for="DoB"></span>
    </div>
    <button type="submit" class="btn btn-primary">Add Chef</button>
</form>